/* =============FEATURES============ */

.icon-antenna::before {
  background-image: url(../imajes/icons/antenna.svg);
}

.icon-clock::before {
  background-image: url(../imajes/icons/clock.svg);
}

.icon-diagram::before {
  background-image: url(../imajes/icons/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../imajes/icons/astronaut.svg);
}

.item::before {
  display: block;
  content: "";
  width: 100%;
  height: 120px;
  margin-bottom: var(--card-portfolio-gap);
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
}

.features-list .item {
  margin-top: var(--card-portfolio-gap);
  margin-left: var(--card-portfolio-gap);
  flex-basis: calc(100% / 4 - 30px);
}

.features-list {
  display: flex;
  flex-wrap: nowrap;
}

.features-section {
  padding-top: 94px;
}

.features-list {
  margin-top: -30px;
  margin-left: -30px;
  margin-bottom: 0;
}

.features-title {
  min-width: 270px;
  @include font(14px, 700, 16px);
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--main-color);
}

.description {
  @include font(14px, 400, 41px);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-decoration-color);
}

.features-item:not(:last-child) {
  margin-right: var(--card-portfolio-gap);
}

/* =============END FEATURES============ */
