/* ===========HEADER=============== */

.navigation {
  display: flex;
  align-items: center;
}

.logotipe-link {
  width: 145px;
  font-family: Raleway;
  font-weight: bold;
  margin-right: 93px;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}
.logotipe-link > .logotipe-part {
  color: #000000;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.navigation-list {
  display: flex;
}

.navigation-list-item {
  margin-right: 50px;
}

.navigation-list-item:last-child {
  margin-right: 0;
}

.navigation-list .navigation-link.current {
  position: relative;
  color: var(--accent-color);
}

.navigation-link.current {
  display: block;
  min-width: 49px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.navigation-link.current:hover,
.navigation-link.current:focus {
  color: var(--accent-color);
  outline: none;
}

.navigation-list .navigation-link.current::after {
  position: absolute;
  display: block;
  top: 76px;
  content: "";
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.navigation-link {
  display: block;
  min-width: 49px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
  outline: none;
}

.auth-navigation-list {
  display: flex;
}

.auth-list-item {
  margin-right: 50px;
}

.auth-list-item:last-child {
  margin-right: 0;
}

.navigation-list-item:last-child {
  margin-right: 0;
}

.navigation-list .navigation-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailto-link {
  display: flex;
  align-items: center;
  min-width: 135px;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-style: normal;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--text-decoration-color);
}
.mailto-link:hover,
.mailto-link:focus {
  color: var(--accent-color);
  outline: none;
}

.auth-navigation-list .mailto-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-navigation-list .tel-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: var(--text-decoration-color);
}
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
  outline: none;
}

.tel-link:hover .phone-list-icon,
.tel-link:focus .phone-list-icon {
  fill: var(--accent-color);
  outline: none;
}

.mailto-link:hover .mail-list-icon,
.mailto-link:focus .mail-list-icon {
  fill: var(--accent-color);
  outline: none;
}

.phone-list-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #757575;
}

.mail-list-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #757575;
}

.auth-list-item::before {
  content: "";
}

.auth-navigation-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header .container {
  display: flex;
}

/* ===========END HEADER=============== */
