:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --text-decoration-color: #757575;
  --background-color: #ffffff;
  --card-portfolio-gap: 30px;
}

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* наведение курсором #2196F3 */
/* бэкграунд #2F303A */
